# NTU-eureka
CUDA_PATH       /usr/local/cuda-12.9
FFTW2_PATH      /usr/local/fftw2
FFTW3_PATH      /usr/local/fftw3
MPI_PATH        /usr/local/openmpi-4.1.2
HDF5_PATH       /usr/local/hdf5-1.10.8
# GRACKLE_PATH  
GSL_PATH        /usr/local/gsl-2.7.1
LIBYT_PATH      /usr/local/libyt
CUFFTDX_PATH    /usr/local/cuFFTDx

# compilers
CXX     /usr/bin/g++
CXX_MPI /usr/local/openmpi-4.1.2/bin/mpicxx

# flags
CXXFLAG -g
CXXFLAG -O2
# CXXFLAG -fp-model precise # for intel
# CXXFLAG -std=c++11
# CXXFLAG -gxx-name=YOUR_G++
# CXXFLAG -w1
CXXFLAG -w
# CXXFLAG -Wno-unknown-pragmas -diag-disable 3180 # for intel

OPENMPFLAG -fopenmp

# LIBFLAG -limf # for intel

NVCCFLAG_COM -O3
# NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# for debugging
# CXXFLAG -fstack-protector-all
# CXXFLAG -fstack-protector-strong  # somehow it can capture issues not detected by -fstack-protector-all
#LIBFLAG -lssp

# gpu
GPU_COMPUTE_CAPABILITY 1200    # blackwell